

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{{ static('css/dist/styles.css') }}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <!-- HTMX -->
    <script src="{{ static('js/htmx.min.js') }}"></script>

    
    {% block extra_js %}{% endblock %}

  </body>
</html>
