<div class="navbar bg-base-100 shadow">
  <div class="flex-1">
    <span class="text-lg font-semibold ml-2">
      Realtime Analytics
    </span>
  </div>

  <div class="flex-none">
    <a
      href="{{ url('auth_manager:auth_logout') }}"
      class="btn btn-sm btn-outline mt-1">
      Logout
    </a>
  </div>
</div>
